<h1 class="well">Classrooms</h1>
<% @classrooms.each do |classroom| %>
  <div class="container">
    <h3><%= link_to classroom.classroom_name, classroom_path(classroom) %></h3>
    <p> points: <%= classroom.classroom_total %></p>
  </div>
<% end %>
